@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}

body{
    
    background-color: #FDFEFF;
}

/* Custom properties */

:root{
    /* font */
    --fclr-dark: #000;
    --fclr-accent: #848485;
    --fclr-light: #fff;
    /* font-size */
    --fs-heading: 2.5rem;
    --fs-description:1rem;
    /* gradient */
    --gradient-clr1: #09C5F9; 
    --gradient-clr2: #045DE9; 
    /* botton color */
    --btn-clr-light: #fff;
    --btn-clr-blue: #056AEB;
}

.btn{
    padding: .7em 1.5em;
    border-radius: 5px;
    border: 2px solid var(--btn-clr-blue);
    color: var(--btn-clr-blue);
    cursor: pointer;
}

.container{
    margin: 2em 4em;
}

/* Image Sprites */

.security-image{
    background: url(images/Hosting\ Landing\ Page.svg) -707px -95px;
    width: 504px;
    height: 380px;
    background-repeat: no-repeat;
}

.tech-support-image{
    height: 430px;
    width: 400px;
    background: url(images/technical\ support\ illustration-01.svg) 0px -75px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Services icon */
.icon-1{
    background: url(images/Hosting\ Landing\ Page.svg) -510px -755px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.icon-3{
    background: url(images/Hosting\ Landing\ Page.svg) -758px -755px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.icon-4{
    background: url(images/Hosting\ Landing\ Page.svg) -515px -855px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.icon-5{
    background: url(images/Hosting\ Landing\ Page.svg) -635px -855px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.icon-6{
    background: url(images/Hosting\ Landing\ Page.svg) -755px -855px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}


/* Navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-items{
    display: flex;
    list-style: none;
}

.list-item{
    padding: .7em 1em;
    color: var(--fclr-accent);
}

.item-active{
    color: var(--fclr-dark);
}

.nav-right{
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}


/* Main Section */

.main{
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0;
}

.main-content{
    width: 50%;
    padding: 3em 0;
}

.image{

    margin: 3em 0;
}

.hosting-image{
    flex-grow: 1;
}
.security-image{
    flex-grow: 1;
}
.tech-support-image{
    flex-grow: 1;
}

.main-bottom{
    display: flex;
    margin-top: 7em;
}
.main-left{
    flex-grow: 1;
    width: 50%;
}
.main-right{
    width: 50%;
    flex-grow: 1;
}
.heading{
    font-size: var(--fs-heading);
}
.description{
    font-size: var(--fs-description);
}

.btn-main{
    color: #fff;
    background: linear-gradient(to bottom right,var(--gradient-clr1),var(--gradient-clr2));
    position: relative;
    top: 40px;
    border: none;
}

/* services */

.services{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0;
}

.service{
    width: 33%;
    padding: 1em;
}

/* Why Us Section */

.why-us-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 23px;
}

.why-us-top h1{
    text-align: center;
}
.why-us-top p{
    text-align: center;
    width: 70%;
    margin: 1em auto;
}
.card{
    width: 49%;
    padding: 2em;
    border-radius:  10px;
    margin-top: 1em;
    border: 1px solid #E6E6E6;
    position: relative;

}

.card-main{
    background-color: rgb(255, 255, 255);
    
}
.person{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.card-bottom{
    position: absolute;
    left: 143px;
    bottom: 60px;
} 

.card .description{
    padding-bottom: 1.5em;
}

/* Pricing */

.fa-check{
    display: inline-block;
    color: #06D6A0;
    border: 1px solid #06D6A0;
    border-radius: 50%;
    padding: 3px;
    margin: .8em 0;
}

.pricing{
    background: linear-gradient(to bottom right,var(--gradient-clr1),var(--gradient-clr2));
    width: calc(100% + 8.2em);
    position: relative;
    left: -4.2em;
    padding: 2em 5em;
    margin: 8em 0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1 1.5em;
}

.card-pricing{
    width: 30%;
    flex-grow: 1;
    background-color: #fff;
}
.pricing .heading{
    text-align: center;
    color: var(--btn-clr-light);
}
.popular{
    background-color: #000;
    color: #fff;
    width: calc(100% + 4.2em);
    padding-top: 1.5em;
    padding-left: 1.5em;
    position: relative;
    right: 2.1em;
    bottom: 2.1em;
    border: 2px solid #000;
    border-radius: 5px;
}
.card span{
    color: var(--fclr-accent);
}
.price{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
}
.p-2{
    margin-top: -1.7em;
}

.btn-popular{
    color: #fff;
    background: linear-gradient(to bottom right,var(--gradient-clr1),var(--gradient-clr2));
    border: none;
    
}

/* Register Section */
.register{
    display: flex;
    padding: 6em 5em;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right,var(--gradient-clr1),var(--gradient-clr2));
    width: calc(100% + 8em);
    color: #fff;
    position: relative;
    left: -4em;

}

.right{
    display: flex;
    justify-content: flex-end;
    margin-right: 6em;
}
.register .btn{
    color: #fff;
    border: 2px solid #fff;
}

/* footer */

footer{
    display: flex;
    padding: 3em 1em;
    margin-top: 5em;
    margin-bottom: -3em;
}
footer ul{
    list-style: none;
}

.logo-div{
    width: 40%;
}

.footer-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-div img{
    width: 100px;
}

.social-logo{
    background: url(images/Hosting\ Landing\ Page.svg) -259px -840px;
    background-repeat: no-repeat;
    width: 185px;
    height: 80px;
}
.item{
    padding: .4em .5em ;
}